<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Solution Link</h2>
      <h4>solutionLink@gmail.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Dashboard</a>
  <a mat-list-item routerLink="/api" routerLinkActive="list-item-active">Api</a>
  <a mat-list-item routerLink="/posts" routerLinkActive="list-item-active">posts</a>
  <mat-divider></mat-divider>
  <h2 matSubheader> Tools</h2>
  <a mat-list-item routerlinkactive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerlinkactive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Load
  </a>
</mat-nav-list>
