<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Solution Link</h2>
      <h4>solutionLink@gmail.com</h4>
    </div>
    <img src="https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/6713806/600/400/m2/fpnw/wm0/logos-21-77-.jpg?1563702063&s=3cbd11d46ab37b14314625d8db7d95bd" alt="">
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/" routerLinkActive="list-item-active">Dashboard</a>
  <a mat-list-item routerLink="/api" routerLinkActive="list-item-active">Api</a>
  <a mat-list-item routerLink="/sector" routerLinkActive="list-item-active">Sector</a>
  <mat-divider></mat-divider>
  <h2 matSubheader> Tools</h2>
  <a mat-list-item routerlinkactive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>
  <a mat-list-item routerlinkactive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Load
  </a>
</mat-nav-list>
