
:host {
  a{
   // color: #;
  }
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
    color: #6200ee;
  }
  .profile-card {
    text-align: center;
    padding: 0px;
    img {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 40%;
    }
  }
}


